@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="ListaKategoriZawartosc">
    

    <div id="KategorieListPrawaSekcja">
        <section class="SekcjaKoszyk">
            <div class="SekcjaHeader" style="margin-bottom: 0px;">
                <h1>
                    @RenderSection("SectionTitle", required: false)
                </h1>
            </div>
            @RenderBody()
        </section>
    </div>
</div>

@section Scripts
{
    @RenderSection("Scripts", required: false)
}
