@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}

@section SectionTitle
{
    Potwierdzenie zamówienia
}

<div style="margin-top: 100px; text-align: center">
    Dziękujemy! Twoje zamówienie zostało wysłane!
</div>