.header{
  background-image: url("../img/cyberpunk.jpg");
  background-position: center;
  background-attachment: fixed;
  height: 70vh;
}
.game{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.game__summary-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4e4e4e;
}
.game__summary-line--second{
  margin-top: 30px;
  flex-direction: column;
  align-items: unset;
}
.game__name{
  font-size: 40px;
}
.game__rating{
  font-size: 20px;
}
.game__summary-paragraph{
  font-size: 18px;
  margin-bottom: 5px;
}
.game__p-span{
  font-weight: bold;
}
.game__add-to-cart-button{
  padding: 15px;
  font-size: 20px;
  background-color: #ffb06b;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.game__add-to-cart-button:active{
    background-color: #fdc492;
}
.game__description{
  margin-top: 60px;
  padding-bottom: 80px;
}
.game__desc{
  font-size: 25px;
  border-bottom: 1px solid rgb(160, 160, 160);
  margin-bottom: 15px;
}
.game__paragraph{
  font-size: 17px;
  text-align: justify;
  color: #4e4e4e;
}